body {
  background-color: lightgray;
}

.App {
  text-align: center;
}

.App-header {
}

.Country {
  marginLeft: auto;
  marginRight: auto;
  marginTop: 10;
  Center: center;
  padding: 10px;
  width: 320px;
}

.CountryName {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 12px;
  margin-left: 12px;
  vertical-align: middle;
}

.CountryFlag {
  height: 5vmin;
  margin-left: 12px;
  pointer-events: none;
  vertical-align: middle;
}

.MedalCount {
  text-transform: capitalize;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  vertical-align: middle;
  foreground-color: black;
  background-color: goldenrod;
}

.MedalLabel {
  text-transform: capitalize;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  vertical-align: middle;
}

.IncrMedalButtom {
  margin-left: 10px;
  width: 250px;
  height: 100px;
  vertical-align: middle;
}
